$mat-green: (
    50 : #e5f7ed,
    100 : #bdebd2,
    200 : #92deb4,
    300 : #66d195,
    400 : #45c77f,
    500 : #24bd68,
    600 : #20b760,
    700 : #1bae55,
    800 : #16a64b,
    900 : #0d983a,
    A100 : #c8ffd7,
    A200 : #95ffb2,
    A400 : #62ff8d,
    A700 : #48ff7a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

